<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/main.css"/>
<title>Bora Elci</title>
</head>
<body>

<nav class="navbar navbar-light bg-light fixed-top">
  <!-- <a class="navbar-brand" href="index.html" style="margin-left:23vw"><img src="" style=""></a> -->
    <ul class="navbar-nav center" style="display:contents">
      <li class="nav-item">
        <a class="nav-link" href="assignments"><strong style="margin-left: 7.5vw; font-weight: 700;font-size: 16px;letter-spacing: 1px; text-transform: uppercase">Assignments</strong></a>
      </li>
      <li class="nav-item active center">
        <a class="nav-link" href="/"><strong style="font-weight: 700;font-size: 16px;letter-spacing: 1px; text-transform: uppercase">Main</strong><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="classes"><strong style="margin-right: 10vw; font-weight: 700;font-size: 16px;letter-spacing: 1px; text-transform: uppercase">Classes</strong></a>
      </li>
    </ul>
</nav>

<div style="text-align:center;">
    <h3 style="margin-top:8vh;">Assignments List</h3>
    <ul class="list-group" style="margin-left:50px; margin-right:50px">
      <li class="list-group-item">HW1<br>
          Theory part was about binary numbers, truth tables, and basic programming in Python.
          Programming part dealt with performing various operations on lists.
      </li>
      <li class="list-group-item">HW2<br>
      Part A was about Selection Sort, time complexities, and Insertion Sort.
      Part B dealt with Physics Simulations and Machine Learning.</li>
      <li class="list-group-item">HW3<br>
      Part A was about performing set operations on a list and recursive algorithms.
      Part B dealt with a Percolation Program and more Machine Learning operations usin Numpy.
      </li>
      <li class="list-group-item">Midterm<br>
      Midterm was about performing thrre operations on ppm image files by manipulating pixels.
      Operation were: filtering to delete a certain object from images, 
      making a given image black and white, and flipping the image horizontally.
      </li>
      <li class="list-group-item">HW4<br>
      Object-oriented programming. Created class, student, teacher, assignment objects.
      Calculated student grades, plotted statistics on graphs.
      </li>
      <li class="list-group-item">HW5<br>
      Machine Learning exercise is completed in this homework. Cancer data set is analyzed 
      using numpy and pandas. Nearest neighbor algorithm is performed using sklearn.
      </li>
      <li class="list-group-item">Final<br>
      Created a personal website displaying information about me, and ENGI1006 class assignments.
      </li>
    </ul>
    <br>
    <h3>Favorite Assignment</h3>
    <p style="margin-left:50px; margin-right:50px"> My favorite assignment was the Midterm. It was challenging to create my own Python program without the skeleton code.
    Especially, flipping an image horizontally required lots of thinking for pixel manipulations. I liked this project the most 
    because I feel that this idea of using Python programs to operate on files and images can come handy in real life.</p>
</div>
<br>

</body>
</html>
