<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/main.css"/>
<title>Bora Elci</title>
</head>
<body>

<nav class="navbar navbar-light bg-light fixed-top">
  <!-- <a class="navbar-brand" href="index.html" style="margin-left:23vw"><img src="" style=""></a> -->
    <ul class="navbar-nav center" style="display:contents">
      <li class="nav-item">
        <a class="nav-link" href="assignments"><strong style="margin-left: 7.5vw; font-weight: 700;font-size: 16px;letter-spacing: 1px; text-transform: uppercase">Assignments</strong></a>
      </li>
      <li class="nav-item active center">
        <a class="nav-link" href="/"><strong style="font-weight: 700;font-size: 16px;letter-spacing: 1px; text-transform: uppercase">Main</strong><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="classes"><strong style="margin-right: 10vw; font-weight: 700;font-size: 16px;letter-spacing: 1px; text-transform: uppercase">Classes</strong></a>
      </li>
    </ul>
</nav>

<div style="text-align:center">
    <h3 style="margin-top:8vh;">My Classes</h3>
    <table class="table" style="border:1px solid black; width:80vw; margin-left:auto;margin-right:auto;">
      <thead>
        <tr>
          <th scope="col">Class Name</th>
          <th scope="col">Code</th>
          <th scope="col">Instructor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Multivariable Calculus</td>
          <td>APME E2000</td>
          <td>Drew Youngren</td>
        </tr>
        <tr>
          <td>Data Structures</td>
          <td>COMS W3137</td>
          <td>Paul Blaer</td>
        </tr>
        <tr>
          <td>Intro to Computing</td>
          <td>ENGI 1006</td>
          <td>Timothy Paine</td>
        </tr>
        <tr>
          <td>Intro to Electricity and Magnetism</td>
          <td>PHYS 1402</td>
          <td>Tanya Zelevinsky</td>
        </tr>
        <tr>
          <td>The Art of Engineering</td>
          <td>ENGI 1102</td>
          <td>David Vallancourt</td>
        </tr>
      </tbody>
    </table>
    <br>
    <h3>Favorite Class</h3>
    <p style="margin-left:50px; margin-right:50px"> My favorite class was Data Structures. I love coding in Java and solving problems.
    I enjoyed Trees, Hashing Topics, and Graphs. For instance, I have heard about Dijkstra's algorithm, but now I know how to actually implement it in code.
    I improved in recursive thinking as well, working on challenging projects.</p>
</div>
<br>

</body>
</html>